<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="VaxSlotSearch">
    <meta name="author" content="VaxSlotSearch">
    <meta name="keywords" content="VaxSlotSearch">

    <!-- Title Page-->
    <title>Vaccination Slot Search</title>

    <!-- Icons font CSS-->
    <link href="{{ url_for('static', filename='vendor/mdi-font/css/material-design-iconic-font.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/font-awesome-4.7/css/font-awesome.min.css')}}" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="{{ url_for('static', filename='vendor/select2/select2.min.css')}}" rel="stylesheet" media="all">
    <link href="{{ url_for('static', filename='vendor/datepicker/daterangepicker.css')}}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">COVID-19 Vaccination Slot Finder</h2>
                    <form method="POST">
                        <div class="input-group">
                            
                            <label class="radio-container m-r-45">Search by District
                                <input type="radio" id="stateSelectRadio" onchange="toggleSearchType(this)" type="radio" name="searchType" onclick="show1();" value="stateSelectRadio" checked>
                                <span class="checkmark"></span>
                            </label>
                            <label class="radio-container m-r-45">Search by PIN
                                <input type="radio" id="pinSelectRadio" onchange="toggleSearchType(this)" type="radio" name="searchType" onclick="show2();" value="pinSelectRadio">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                        <div class="row row-space" id="disshow">
                            <div class="col-2" style="margin-bottom: 20px;">
                                <label class="label">State</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="stateSelect" onchange="populateDistrict(this)">
                                        <option disabled="disabled" selected="selected" class="stateOption" value="">Choose option</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                            <div class="col-2" style="margin-bottom: 20px;">
                                <label class="label">District</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="distSelect">
                                        <option disabled="disabled" selected="selected" class="districtOption" value="">Choose option</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                            </div>
                        </div>

                        <div class="row row-space" id="pinshow">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label fieldLabel">Enter Your PIN</label>
                                    <input class="input--style-4" id="pinSelect" type="text" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label for="slotDate" class="label">Select Slot Date</label>
                                    <div class="input-group-icon">
                                        <input class="input--style-4 js-datepicker" type="text" id="slotDate" name="slotDate">
                                        <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Select Age Group</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="ageSelect">
                                        <option value="44">18-44</option>
			                            <option value="45">45+</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label for="doseType" class="label">Select Dose</label>
                                    <div class="rs-select2 js-select-simple select--no-search">
                                        <select id="doseSelect">
                                            <option value="dose1">Dose-1</option>
			                                <option value="dose2">Dose-2</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="input-group">
                                    <label for="vaccineType" class="label">Select Vaccine</label>
                                <div class="rs-select2 js-select-simple select--no-search">
                                    <select id="vaccineSelect">
                                        <option value="ALL">All</option>
                                        <option value="COVAXIN">Covaxin</option>
                                        <option value="COVISHIELD">Covishield</option>
                                        <option value="sputnik5">Sputnik 5</option>
                                    </select>
                                    <div class="select-dropdown"></div>
                                </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue searchBtn" type="button" onClick="startInterval(searchSlot, 6000)">Search Slot</button>
                        </div>
                    </form>

                    <h2 id="searchSection"></h2>
                        <img id="loader" src="{{ url_for('static', filename='loader.gif')}}"/>
                        <h4 id="error"></h4>
                        <table id="slotsTable">
                            <tr>
                                <th style="width:50px;">Age</th>
                                <th style="width:100px;">Date</th>
                                <th style="width:120px;">Available Slot</th>
                                <th style="width:120px;">Vaccine Name</th>
                                <th style="width:340px;">Hospital Name</th>
                                <th style="width:60px;">Fee</th>
                            </tr>
                        </table>
                </div>
            </div>
        </div>
    </div>
    <!---->
    <!-- Jquery JS-->
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js')}}"></script>
    <!-- Vendor JS-->
    <script src="{{ url_for('static', filename='vendor/select2/select2.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datepicker/moment.min.js')}}"></script>
    <script src="{{ url_for('static', filename='vendor/datepicker/daterangepicker.js')}}"></script>

    <!-- Main JS-->
    <script src="{{ url_for('static', filename='js/global.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>

</body>

</html>
<!-- end document-->

